<div class="card">
  <h2 class="login_title">Login</h2>

  <form class="form_login" (submit)="login()">
    <div class="form_content">
      <div class="username_cont">
        <label class="username_label" for="username">Username:</label>
        <input
          class="username_input"
          type="text"
          id="username"
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>

      <div class="password_cont">
        <label class="password_label" for="password">Password:</label>
        <input
          class="password_input"
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>

      <button class="btn_submit" type="submit">Login</button>
    </div>
  </form>
</div>
